html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  min-width: 1000px;
  min-height: 600px;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
