@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
